/*------------------------ FONTS-------------------*/

@font-face {
    src: url(fonts/DRPublik-Regular.ttf);
    font-family: dr-reg;
}

@font-face {
    src: url(fonts/DRPublik-SemiBold.ttf);
    font-family: dr-semi;
}

@font-face {
    src: url(fonts/DRPublik-Bold.ttf);
    font-family: dr-bold;
}

@font-face {
    src: url(fonts/DRPublik-Black.ttf);
    font-family: dr-black;
}



h2 {
    font-family: "dr-semi";
    font-size: 2rem;
}

p {
    font-family: "dr-reg";
    font-size: 1rem;
}

/*------------------ FONTS SLUT ---------------------*/
