/**************************************************/
/****************** CSS INDHOLD *******************/
/**************************************************/
/*

1.0 COLORS
2.0 FONTS
2.1 Font style
2.2 Nav style
3.0 NAVIGATION
4.0 GENEREL
4.1 Baggrundsfarver
4.2 Card style
4.3 Carousel
4.4 Dividers next to h2's
4.5 bokse til ovenpå indhold
4.6 footer
4.7 knapper
5.0 FORSIDE
5.1 quiz
x.x. Media queries

*/

/**************************************************/
/******************** COLORS **********************/
/**************************************************/

:root {
    --text-black: #000000;
    --text-white: #ffffff;
    --text-darkgrey: #999999;
    --text-lightgrey: #d2d2d2;

    --header-text-color: #000000;
    --link-color: #000000;
    --link-hover-color: #000000;

    --background-white: #ffffff;
    --background-lightgrey: #f2f2f2;
    --background-darkgrey: #333333;

    --pink: #FF32E6;
    --green: #00BE00;
    --yellow: #F5D237;
    --blue: #2d2dc3;
    --creme: #fae6d2;
    --tyrkis: #8ce1d7;
}

.bg-darkgrey {
    background-color: var(--background-darkgrey);
}

.bg-lightgrey {
    background-color: var(--background-lightgrey);
}

/**************************************************/
/******************** FONTS ***********************/
/**************************************************/

@font-face {
    src: url(fonts/DRPublik-Regular.ttf);
    font-family: dr-reg;
}

@font-face {
    src: url(fonts/DRPublik-SemiBold.ttf);
    font-family: dr-semi;
}

@font-face {
    src: url(fonts/DRPublik-Bold.ttf);
    font-family: dr-bold;
}

@font-face {
    src: url(fonts/DRPublik-Black.ttf);
    font-family: dr-black;
}

/*------------------ FONT STYLE ----------------*/

h1 {
    font-family: "dr-black";
    font-size: 2.5rem;
    color: var(--text-black);
    text-transform: uppercase;
}

h2 {
    font-family: "dr-black";
    font-size: 2rem;
    color: var(--text-black);
    text-transform: uppercase;
    background-color: var(--background-white);
    padding-right: 20px;
    z-index: 300;
}

h3 {
    font-family: "dr-bold";
    font-size: 1.6rem;
    color: var(--text-black);
}

h4 {
    font-family: "dr-bold";
    font-size: 1rem;
    color: var(--text-white);
}

h5 {
    font-family: "dr-semi";
    font-size: 1rem;
    color: var(--text-darkgrey);
}

h6 {
    font-family: "dr-semi";
    font-size: 0.7rem;
    color: var(--text-darkgrey);
    text-transform: uppercase;
}

p {
    font-family: "dr-reg";
    font-size: 1rem;
    color: var(--text-lightgrey);
}

.grey-text {
    color: var(--text-lightgrey);
}

.dark-text {
    color: var(--text-black);
}

.white-text {
    color: var(--text-white);
}

/*------------------ NAV STYLE ------------------*/

.navbar a {
    font-family: "dr-reg";
    font-size: 1rem;
    color: var(--link-color);
    text-transform: uppercase;
}

a:hover {
    color: var(--link-hover-color);
}

/**************************************************/
/******************* NAVIGATION *******************/
/**************************************************/

#drdk {
    background-color: var(--background-darkgrey);
    text-transform: uppercase;
    font-family: "dr-semi";
    padding: 5px 0;
}

a.nav-aktiv {
    font-family: "dr-semi";
    text-decoration: underline;
    text-decoration-color: var(--pink);
}

.navbar {
    padding-right: 15px;
    padding-left: 15px;
}

#top hr {
    margin-top: 0;
}

/**************************************************/
/******************** GENEREL *********************/
/**************************************************/

/*--------------- baggrundsfarver ----------------*/

.bg-lightgrey {
    background-color: var(--background-lightgrey);
}

.bg-tyrkis {
    background-color: var(--tyrkis);
}

/*------------------ CARD STYLE ------------------*/

.card {
    border: none;
    background-color: var(--background-darkgrey);
    border-radius: 0;
    margin: auto;
}

.card-body {
    height: 215px;
}

.card-icon {
    width: 10px;
    height: 10px;
    margin: 3px 3px 3px 0px;
}

.card p {
    font-size: 0.8rem;
}

.card a {
    text-decoration: none;
}

.carousel-item .card {
    width: 80%;
}

/*----------------- Carousel style ---------------*/

.carousel-control-prev {
    background-color: #00BE00;
    height: 40px;
    width: 40px;
    margin: auto;
    opacity: 100%;
}

.carousel-control-next {
    background-color: #00BE00;
    height: 40px;
    width: 40px;
    margin: auto;
    opacity: 100%;
}

.carousel-control-prev.lyseroed {
    background-color: #FF32E6;
    height: 40px;
    width: 40px;
    margin: auto;
    opacity: 100%;
}

.carousel-control-next.lyseroed {
    background-color: #FF32E6;
    height: 40px;
    width: 40px;
    margin: auto;
    opacity: 100%;
}

.carousel-row {
    margin: auto;
    width: 95%;
}

#kanalblok .carousel-row {
    width: 250px;
    margin-left: 20px;
}

#kanalblok .card-body {
    height: 220px;
}

.carousel {
    padding-bottom: 25px;
}

.storkarusel.carousel-control-prev {
    background-color: transparent;
}

.storkarusel.carousel-control-next {
    background-color: transparent;
}

.stor-karusel-titel {
    width: 80%;
    margin: 10px;
    position: absolute;
    bottom: 0;
}

.stor-karusel-titel h3 {
    font-size: 1.4rem;
}

/*----stor karusel viser naboer---*/

$fragment_width: 25%;

.vis-nabo {
    overflow: hidden;
}

.carousel-inner {
    width: (100%-2*$fragment_width)*3;
    left: 3*$fragment_width-100%;
}

.carousel-item-next:not(.carousel-item-left),
.carousel-item-right.active {
    -webkit-transform: translate3d(33%, 0, 0);
    transform: translate3d(33%, 0, 0);
}

.carousel-item-prev:not(.carousel-item-right),
.carousel-item-left.active {
    -webkit-transform: translate3d(-33%, 0, 0);
    transform: translate3d(-33%, 0, 0);
}

.item_third {
    display: block !important;
    float: left;
    position: relative;
    /* captions can now be added */
    width: 33.33333333%;
}

/*--slut nabo--*/

/*--------------Dividers next to h2's ------------*/

.hr-green {
    border: 2px solid;
    border-color: var(--green);
    display: inline;
    width: 100%;
    position: relative;
    top: -40px;
    z-index: 1;
}

.hr-pink {
    border: 2px solid;
    border-color: var(--pink);
    display: inline;
    width: 100%;
    position: relative;
    top: -40px;
    z-index: 1;
}

/*---------- bokse til ovenpå indhold ------------*/

.big-box {
    background-color: var(--background-white);
    padding: 10px;
    margin: 10px;
    position: absolute;
    bottom: 0px;
}

/*OBS: skal være responsiv, ligenu virker den kun i lille*/
.small-box {
    background-color: var(--background-white);
    padding: 10px;
    margin: 10px;
    position: absolute;
    bottom: 0px;
}

/*-------------footer----------*/

.some-footer {
    width: 20px;
}

.brev-gif {
    width: 100px;
}


/**************************************************/
/******************** FORSIDE *********************/
/**************************************************/

/*-----quiz---*/
#quiz {
    background-image: url(billeder/ui/5.element-01.png);
    background-size: contain;
}

#quiz h3 {
    color: var(--text-darkgrey);
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-color: var(--pink);
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0px;
    border-color: var(--dark-grey);
}

.knap-row {
    justify-content: center;
}

button.quiz-knap {
    background-color: var(--pink);
    border: none;
    width: 40%;
    color: white;
}

.pulse {
    animation: pulse 2s infinite;
    transform: scale(1);
}

@keyframes pulse {
    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

#quiz-resultat p {
    color: var(--text-darkgray);
    margin: 10px 0px 0px 0px;
}

.progress {
    max-width: 600px;
    background-color: var(--background-lightgrey);
}

.progress-bar {
    background-color: var(--pink);
}

.display-1 {
    font-size: 1.5rem;
    font-style: italic;
}

mark {
    background-color: var(--pink);
    color: white;
    padding: 0px 20px 0px 20px;
}

/*--quiz--*/

/**************************************************/
/******************** SERIER *********************/
/**************************************************/

/*------------------kategorier knap------------------*/
#kategorier .row {
    padding: 15px;
}

.kategori {
    background-color: var(--background-darkgrey);
    padding: 12px 0;
    text-align: center;
    max-width: 30%;
    margin: 15px auto 10px;
}

.knap {
    color: white;
}

.knap a:hover {
    color: var(--text-lightgrey);
}


/*------------------ sections ------------------*/

.pad-container {
    padding: 15px;
}


.pad-overskrift {
    padding: 10px 15px 0;
}


/**************************************************/
/****************** MEDIA QUERIES *****************/
/**************************************************/

@media (min-width: 576px) {
    .carousel-item .card {
        width: 45%;
    }

    #kanalblok .carousel-row {
        width: 399px;
    }

    #kanalblok .card-body {
        height: 250px;
    }
}

@media (min-width: 768px) {
    .carousel-item .card {
        width: 30%;
    }

    #kanalblok .carousel-row {
        width: 550px;
    }

}

@media (min-width: 992px) {

    #kanalblok .carousel-row {
        width: 730px;
    }

    #kanalblok .card-body {
        height: 210px;
    }

    .display-1 {
        font-size: 1.5rem;
    }

    .kategori {
        max-width: 15%;
        margin: 15px auto;
    }

    .kategori:first-child {
        margin-left: 0;
    }

    .kategori:last-child {
        margin-right: 0;
    }

}

@media (min-width: 1200px) {
    .carousel-item .card {
        width: 23%;
    }

    #kanalblok .carousel-row {
        width: 900px;
    }
}
